@import "../../../../division-project/scss/imports/_config.scss";
@import "../../../../division-project/scss/imports/_mixins.scss";



table.meetings{
	border-collapse: separate;
	width: 100%;
}

table.meetings th {
	font-size: 1.3em;
	color: #333;
	border-top: none;
}

table.meetings a{
	display: inline-block;
}

.initiatives-list {
	h2 {
		margin-top: 5px;
		margin-bottom: 0;
	}

	p{
		margin-top: 5px;
	}
}

.NoLogo {
		position: absolute;
		font-family: "proxima-nova-condensed", sans-serif;
		padding-left: 2em;
		padding-right: 2em; 
		padding-top: 22%;
		font-size: 1.5rem;
		color: white; 
		font-weight: bold;
		text-transform: uppercase; 
		text-align: center;
		line-height: 1em; 
		width: 100%;
	@media screen and (min-width: $break-small) {
		padding-top: 21%;
		font-size: 1.2rem;
		color: white; 
	}
	@media screen and (min-width: 586px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 1132px) {
		padding-left: .4em;
		padding-right: .4em;
		padding-top: 20%;
		font-size: 2rem;
	}
}

.main-content.initiatives {
	padding: 0;
	margin: 0;
}

.initiatives-content {
	@media screen and (min-width: 768px){
		background: #fff;
		border-right: 1px solid #ddd;
		width: 72%;
		position: relative;
		padding: 2em 1em 3em 2em;
		float: left;
	}
}